<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html>
    <head>
        <title>MTA Train Locations</title>
        <link rel="stylesheet" href="{% static '/css/reset.css' %}" />
        <link rel="stylesheet" href="{% static '/css/map.css' %}" />
        <link rel="stylesheet" href="{% static '/lib/leaflet/leaflet.css' %}" />
        <script src="{% static '/lib/jquery/jquery-3.5.1.min.js' %}" type="application/javascript"></script>
        <script src="{% static '/lib/leaflet/leaflet.js' %}" type="application/javascript"></script>
        <script src="{% static '/js/map.js' %}" type="application/javascript"></script>
        <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    </head>
    <body>
        <div id="map"></div>
    </body>
</html>